/* =============
    Buttons
============= */
#buttons{
display: grid;
grid-area: buttons;

    .subclass{
        li{
        display: grid;
        grid-template-columns: 70% auto;
        background-color: #B8C3C9;
        }
    }

}
