/* =============
    Buttons
============= */
#buttons {

    h1{
        font-weight: 400;
        font-size: rem-calc(24);
        text-align: left;
        padding-bottom: 6px;
    }

    #button-1{
        button{
            padding-bottom: 6px;
        }
        background-color: #B8C3C9
    }

    #button-2{
        button{
            padding-bottom: 6px;
        }
        background-color: #B8C3C9
    }

    @include xl{
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". buttons .";
    }

    >div{

        @include md{
            display: grid;
            grid-template-columns: 50% auto;

        }

        @include xl{
            grid-area: buttons;
        }

        .button-content{
            padding: 16px;

            display: flex;
            aside{
                padding-left: 200px;
                border: white;
                img{
                    width: 85px;
                height: 85px;
                border-radius: 100%;
                border: 3px solid white;

                @include md{
                    width: 113px;
                height: 113px;
                }
                }
            }
            @include lg{
                
            }
        }
    }
    // display: grid;
    // grid-area: buttons;

    // @include md {
    //     display: grid;
    //     grid-template-columns: auto 80% auto;
    //     grid-template-rows: (2, 1fr);
    // }

    // div {
    //     display: grid;
    //     grid-template-columns: 75% auto;
    //     border: 1px solid red;
    // }

    // section {
        
    // }

    // aside {
    //     img {
    //         width: 103px;
    //     }
    // }
}