/* =============
    Gallery
============= */
#gallery-2{
    @include md{

        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: (2,148px);
        background-color: #F8F9FA;
        }
    
        @include lg{
            
            display: grid;
            grid-template-columns: auto 25% auto;
            grid-template-rows: (3, 393px);
            background-color: #F8F9FA;
            }
    grid-area: gallery-2;
    grid-template-columns: 100%;
    grid-template-areas: ". global-content .";
    background-color: #F8F9FA;

    header{     
    }
    section{
        div{
            li{
                img{
                    width: 390px;
                }
                h1{
                    p{
                        button{

                        }
                    }
                }
            }
        }
    }
}