/* =============
    Gallery
============= */
#gallery{
    grid-area: gallery;
    

        ul{
            padding-top: 24px;
            display: grid;
            grid-template-rows: 50vh 75vh;

            @include lg{
                padding-top: 40px;
            }

            @include md {
                grid-template-rows: 50vh;
                grid-template-areas: 
                    "i1 i1 i2 i2"
                    "i1 i1 i2 i2"
                    "i1 i1 i2 i2"
            }

            @include lg {
                grid-template-areas:
                    "i1 i1 i1 i2"
                    "i1 i1 i1 i2"
                    "i1 i1 i1 i2"
            }

            @include xl {
                grid-template-rows: 30vh 30vh;
                grid-template-areas:
                    "i1 i3 i2 i3"
                    "i1 i1 i3 i3"
                    "i1 i1 i3 i3"
            }
            
            li{
background-size: cover;
            }

                #i1 {
                    background-image: url("../img/Gallery-1/BigGallery-1.png");
                    background-position: center;

                    @include xl {
                        background-position: center;
                        grid-area: i1;
                    }
                }
                    #i2 {
                        background-image: url("../img/Gallery-1/BigGallery-2.png");
                        background-position: center;

                        @include xl {
                            background-position: center top;
                            grid-area: i2;
                        }
                    }
                        #i3 {
                            background-image: url("../img/Gallery-1/BigGallery-3.png");
                            background-position: center;

                            @include xl {
                                background-position: center;
                                grid-area: i3;
                            }
                    }
                }
            }
    