/* =============
    Gallery
============= */
#gallery{
    grid-area: gallery;
    grid-template-areas: ". global-content .";
    grid-area: image;
    li{
        img{
            width: 390px;
            
        }
    }
  }