/* =============
    Gallery
============= */
#gallery-2 {

    header{
        font-weight: 300;
        font-size: rem-calc(28);
        margin-bottom: 16px;
    }
    h1{
        font-weight: 400;
        font-size: rem-calc(24);
    }

    p{
        font-weight: 300;
        font-size: rem-calc(16);
        @include md{
            margin-top: 24px;
        }
    }

    article {
        display: grid;
        grid-template-areas: ". gallery2-content .";
        grid-template-columns: 16px auto 16px;


        div {
            grid-area: hero-content;
            grid-template-areas: ". gallery2-content .";
            padding: 24px;
            grid-template-columns: 16px auto 16px;
            border: 1px solid red;
        }

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-rows: (2, 148px);
            background-color: #F8F9FA;
        }

        @include lg {
            display: grid;
            grid-template-columns: auto 20% auto;
            grid-template-rows: (3, 1fr);
            background-color: #F8F9FA;
        }

        @include xl {
            display: grid;
            grid-template-columns: auto 20% auto;
            grid-template-rows: (3, 1fr);
            background-color: #F8F9FA;
        }

        grid-area: gallery-2;
        rid-template-columns: 100%;
        grid-template-areas: ". global-content .";
        background-color: #F8F9FA;
    }
}


//     header{     
//     }
//     section{
//         div{
//             li{
//                 img{
//                     width: 390px;
//                 }
//                 h1{
//                     p{
//                         button{

//                         }
//                     }
//                 }
//             }
//         }
//     }
// }