/* =============
    Gallery
============= */
gallery-2{
    grid-area: gallery-2;
    padding: 16px auto 16px;
    img{
        width: 100%;
    }
    h1{
        p{
            button{
            }
        }
    }
  }