/* =============
    Hero
============= */
#hero{
    img{
        width: 770px;
    }
    @include md{
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-rows: repeat(2);
    }

    @include lg{
        img{
            width: 1025px;
        }
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(2);
        
        }

    grid-area: hero;
    grid-template-areas: ". global-content .";
        li{
            h2{
                grid-template-columns: 100%;
            grid-template-areas: hero;
            
        }
        p{
        }
    }
        img{
            width: 390px;
        }
        h1{
    
        }
        nav{
            img{
                width: 100%;
            }
        }
      }

        
