/* =============
    Hero
============= */
#hero{

    h2{
        font-weight: 400;
        font-size: rem-calc(24);
        text-align: left;
    }

    p{
        font-weight: 300;
        font-size: rem-calc(16);
        text-align: left;
    }
    // grid-area: hero;
    // grid-template-areas: ". global-content .";
    // grid-template-columns: 50% auto;
    #hero-img{
        width: 100vw;
        height: 100vh;
        background-image: url('../img/Hero/Lanvin-Hero.png');
        background-size: cover;
// x: left | center | right
// y: top | center | bottom 
        background-position: center center;
        
    }

    #lanvin-1{
        background-color: #BE9168
    }

    #lanvin-2{
        background-color: #C4A787
    }

        article{

            display: grid;
            grid-template-areas: ". hero-content .";
            grid-template-columns: 16px auto 16px;

            @include xl{
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". hero-content .";
            }
           

            >div{
                grid-area: hero-content;
                // border: 1px solid red;
   

                @include md{
                    display: grid;
                    grid-template-columns: 50% auto;

                    @include xl{
                        grid-area: hero-content;
                    }
                    button{
                        background-color: transparent;
                        border: none;
                        margin-left: auto;
                        align-items: center;
                        
                        @include lg{
                            display: flex;
                            align-items: center;
                            padding-left: 24px;
                        }
                        img{
                            padding-left: 12px;
                            align-items: center;
                            margin-bottom: auto;
                        }
        
                    }
                }
            }
        }
  
    // @include md{
    //     display: grid;
    //     grid-template-columns: 50% auto;
    // }

    // @include lg{
    //     display: grid;
    //     grid-template-columns: 50% 50%;
    //     grid-template-rows: repeat(2, 1fr);
        
        
    //   }
      
    }

        
