/* =============
    Hero
============= */
#hero{
    // grid-area: hero;
    // grid-template-areas: ". global-content .";
    // grid-template-columns: 50% auto;
    #hero-img{
        img{
            width: 100%;
        }
    }

        article{
            display: grid;
            grid-template-areas: ". hero-content .";
            grid-template-columns: 16px auto 16px;

            @include xl{
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". hero-content .";
            }
           

            >div{
                grid-area: hero-content;
                // border: 1px solid red;
   

                @include md{
                    display: grid;
                    grid-template-columns: 50% auto;

                    @include xl{
                        grid-area: hero-content;
                    }
                }
            }
        }
  
    // @include md{
    //     display: grid;
    //     grid-template-columns: 50% auto;
    // }

    // @include lg{
    //     display: grid;
    //     grid-template-columns: 50% 50%;
    //     grid-template-rows: repeat(2, 1fr);
        
        
    //   }
      
    }

        
