/* =============
    Search
============= */
#search {

    input{
        border: none;
        background-color: transparent;
        text-decoration: underline;
        text-decoration-color: #93A8AC;
    }

    div{
        margin: 16px 0;

        @include md{
            margin: 16px 0 18px;
        }
        button{
            border: none;
            border-radius: 5px;
            background-color: #BE9168;
            margin-left: 12px;
            height: 50px;
            width: 60px;

            @include md{
                margin-left: 12px;
            }

            img{
                width: 70%;
                align-items: center;
            }
            
        }
    }
}