/* =============
    Search
============= */
search{
    padding: 16px auto 16px;
    section{
        nav{
            img{
                padding: 16px auto 16px;
                grid-area: search;
            }
        }
        p{  
        }
    }
    
  }