/* =============
    Footer
============= */
footer {
    grid-area: footer;
    background-color: #889BAC;

    section {
        h1 {
            color: white;
        }

        p {
            color: white;

        }

        h2 {
            color: white;
        }

        img {
            grid-area: footer;
            width: 27px;
        }
    }

    @include md {
        display: grid;
        grid-template-areas: ". global-content .";
        grid-template-columns: 50% auto;
        grid-template-rows: repeat(2);
    }
}