/* =============
    Footer
============= */
footer {
    button{
        background-color: transparent;
        border: none;
}
input{
    border: transparent;
    background-color: white;
    margin-bottom: 24px;
}
    h1{
        font-weight: 600;
        font-size: rem-calc(20);
        margin-bottom: 16px;
        text-align: left;
        padding-top: 36px;
        margin-left: 24px;
    }

    h2{
        font-weight: 400;
        font-size: rem-calc(16);
        margin-bottom: 48px;
        text-align: left;
        margin-left: 24px;
    }

    p{
        font-weight: 300;
        font-size: rem-calc(12);
        text-align: left;
        margin-left: 24px;
    }

    grid-area: footer;
    background-color: #889BAC;

    section {
        h1 {
            color: white;
            display: flex;
        }

        p {
            color: white;

        }

        h2 {
            color: white;
        }

        img {
            display: flex;
            padding-bottom: 6px;
            grid-area: footer;
            width: 27px;
            margin-left: 24px;

            form{
                padding-top: 48px;
                padding-bottom: 16px;
                background-color: white;
                border: none;
            }
        }

        li{

            
        }
    }

    @include md {
        display: grid;
        grid-template-areas: ". global-content .";
        grid-template-columns: 50% auto;
        grid-template-rows: repeat(2);
        padding-bottom: 38px;
    }
}