/* =============
    Footer
============= */
footer{
    grid-area: footer;
    grid-template-columns: 3;
    background-color: #889BAC;
    padding: 16px auto 16px;

    h1{
        color: white;
    }
    p{
        color: white; 
        
    }
    h2{
        color: white;  
    }
  }